<mat-card>
    <mat-card-title>
      Mesas
    </mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="3" gutterSize="40px">
        <mat-grid-tile class="mat-elevation-z8" style="background: lightblue" rowspan="1" colspan="3">BARRA</mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z8" style="background: lightgreen" rowspan="2" colspan="1">MESA 1</mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z8" style="background: lightpink" rowspan="1" colspan="1">MESA 2</mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z8" style="background: lightsalmon" rowspan="2" colspan="1">MESA 3</mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z8" style="background: lightseagreen" rowspan="1" colspan="1">MESA 4</mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
<!-- <button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>
<a mat-raised-button routerLink=".">Link</a> -->

<!-- tables = [
{text: 'Barra', cols: 1, rows: 3, color: 'lightgreen'},
{text: 'Mesa 1', cols: 2, rows: 1, color: 'lightblue'},
{text: 'Mesa 2', cols: 1, rows: 2, color: 'lightpink'},
{text: 'Mesa 3', cols: 1, rows: 1, color: 'lightgrey'},
{text: 'Mesa 4', cols: 1, rows: 1, color: 'lightyellow'},
]; -->