<mat-card>
    <mat-card-title>
      <div>
        Mesas
      </div>
      <div>
        <button (click)="addTable()">+</button>
        <button (click)="deleteTable()">-</button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="3" gutterSize="5px">
      <ng-template ngFor let-table [ngForOf]="tables" let-i="index">
      <mat-grid-tile (click)="openTable(i)"
        style="background: lightblue">
        {{table}}
      </mat-grid-tile>
      </ng-template>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
<!-- <button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>
<a mat-raised-button routerLink=".">Link</a> -->

<!-- tables = [
{text: 'Barra', cols: 1, rows: 3, color: 'lightgreen'},
{text: 'Mesa 1', cols: 2, rows: 1, color: 'lightblue'},
{text: 'Mesa 2', cols: 1, rows: 2, color: 'lightpink'},
{text: 'Mesa 3', cols: 1, rows: 1, color: 'lightgrey'},
{text: 'Mesa 4', cols: 1, rows: 1, color: 'lightyellow'},
]; -->