.block {
  display: block;
  margin: 5px;
}

table {
  width: 100%;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%
}

.col-1 {
  max-width: 10%;
}

.mat-table {
  display: table;
}

b {
  font-size: 20px;
}

.button {
  display: inline-table;
  margin: 10px;
}