<mat-card *ngIf="commandService.selectCommand.state">
    <mat-card-title>
      <span *ngIf="commandService.selectCommand.table >= 1; else else_content">
        Comanda de la Mesa {{commandService.selectCommand.table}}
      </span>
      <ng-template #else_content>
        <span>Comanda de Barra</span>
      </ng-template>
    </mat-card-title>
    <mat-card-content>
      <table class="mat-elevation-z8">
        <tr>
          <td class="col-6" #print>
            <div class="block">
              <mat-form-field class="col-12">
                <input matInput min="0" autocomplete="off" type="number" placeholder="Mesa" [(ngModel)]='commandService.selectCommand.table' [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
            <div class="block">
              <mat-form-field class='col-12'>
                <input matInput autocomplete="off" type="text" placeholder="Comentario" [(ngModel)]='commandService.selectCommand.comment' [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>  
            <div class="block">
              <mat-form-field class='col-12'>
                <input matInput min="0" autocomplete="off" type="number" placeholder="Propina" [(ngModel)]='commandService.selectCommand.tip' [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>    
            <div class="block">                
              <table class="mat-table">
                <thead>
                  <tr class="mat-header-row">
                    <th class="mat-header-cell"> Producto </th>
                    <th class="mat-header-cell col-1"> Precio </th>
                    <th class="mat-header-cell col-1"> Borrar </th>
                  </tr>
                  </thead>
                <tbody>
                  <tr class="mat-row" *ngFor="let product of commandService.selectCommand.productList">
                    <td class="mat-cell"> {{product.name}} </td>
                    <td class="mat-cell col-1"> {{product.price}} € </td>
                    <td class="mat-cell col-1">
                      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteProduct(product)">
                        <mat-icon color="warn">delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                  <tr class="mat-row">
                    <td class="mat-cell"><b>Total</b></td>
                    <td class="mat-cell"><b>{{getTotalCost()}} €</b></td>
                  </tr>
                </tbody>
              </table>              
            </div> 
            <div class="button">
              <button mat-raised-button color="primary" (click)="saveCommand(getTotalCost())">
                Guardar
              </button>
            </div>
            <div class="button">
              <button mat-raised-button color="primary" (click)="payCommand(getTotalCost(), print)" *ngIf='!commandService.selectCommand.pay'>
                Cobrar
              </button>
            </div>
            <div class="button">
              <button mat-raised-button color="primary" (click)="commandService.selectCommand.pay = false" *ngIf='commandService.selectCommand.pay'>
                Rectificar
              </button>
            </div>
          </td>
          <td class="col-6">            
            <app-products-command></app-products-command>          
          </td>
        </tr>
      </table>
  </mat-card-content>
</mat-card>

            <!-- <div class="block">
              <mat-slide-toggle color="primary" #state [(ngModel)]='commandService.selectCommand.state' [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
              <span *ngIf="state.checked">Abierta</span>
              <span *ngIf="!state.checked">Pagada</span>
            </div>     -->