<p>
  add-product works!
</p>
<form #productForm='ngForm' (ngSubmit)='onSubmit(productForm)'>
  <input
    type="number"
    name="id"
    #id="ngModel"
    [(ngModel)]="productService.selectProduct.id"
    placeholder="Añade un id de bebida"
    >
  <input
    type="text"
    name="name"
    #name="ngModel"
    [(ngModel)]="productService.selectProduct.name"
    placeholder="Añade un nombre de bebida"
    >

  <button type="submit">Enviar</button>
  <button type="reset" (click)="resetForm(productForm)">Reset</button>
</form>