<h2 mat-dialog-title *ngIf='!isEdit'>Añadir Comanda</h2>
<h2 mat-dialog-title *ngIf='isEdit'>Editar Comanda</h2>

<div mat-dialog-content>
  <mat-form-field class='cl-12'>
    <input matInput type="number" placeholder="Mesa" [(ngModel)]='command.table'>
  </mat-form-field>
  <mat-form-field class='cl-6'>
    <input matInput type="number" placeholder="Propina" [(ngModel)]='command.tip'>
  </mat-form-field>
  <mat-form-field class='cl-6'>
    <input matInput type="number" placeholder="Stock" [(ngModel)]='command.stock'>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" *ngIf="!isEdit" (click)='addCommand()' cdkFocusInitial>Aceptar</button>
  <button mat-raised-button color="primary" *ngIf="isEdit"(click)='editCommand()' cdkFocusInitial>Aceptar</button>
</div>  


<!-- // table: number;
// state: boolean;
// productList: Product[];
// datetimeOpen: Date;
// datetimeClose: Date;
// tip: number;  -->