<mat-card>
  <mat-card-title>
    Productos
  </mat-card-title>
  <mat-card-content>
    <mat-table class="mat-elevation-z8" #table [dataSource]="productList" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let product"> 
            <button mat-button matSuffix mat-icon-button routerLink='/detail/{{product.id}}'>
              <span class="badge"> {{product.id}} </span>
            </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addProduct()">
            <mat-icon color="primary">person_add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="edit(product)">
            <mat-icon color="accent">mode_edit</mat-icon>
          </button>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="delete(product)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let product; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>

<!-- <app-product-detail [product]="selectedProduct"></app-product-detail> -->