<h2 mat-dialog-title *ngIf='!isEdit'>Añadir Producto</h2>
<h2 mat-dialog-title *ngIf='isEdit'>Editar Producto</h2>

<div mat-dialog-content>
  <mat-form-field class='cl-12'>
    <input matInput placeholder="Nombre" [(ngModel)]='product.name' required>
  </mat-form-field>
  <mat-form-field class='cl-6'>
    <input matInput type="number" placeholder="Precio" [(ngModel)]='product.price' required>
  </mat-form-field>
  <mat-form-field class='cl-6'>
    <input matInput type="number" placeholder="Stock" [(ngModel)]='product.stock' required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <ng-template [ngIf]="product.name != '' && product.price != undefined && product.stock != undefined">
    <button mat-raised-button color="primary" *ngIf="!isEdit" (click)='addProduct()' cdkFocusInitial>Aceptar</button>
    <button mat-raised-button color="primary" *ngIf="isEdit"(click)='editProduct()' cdkFocusInitial>Aceptar</button>
  </ng-template>
</div>  


