<div>
  <table>
    <tr>
      <td>
        <mat-card>
          <button mat-button>All</button>
          <button mat-raised-button>Of</button>
          <button mat-raised-button color="primary">The</button>
          <button mat-raised-button color="accent">Buttons</button>
        </mat-card>
      </td>
      <td>
        <mat-card>
          <button mat-button>All</button>
          <button mat-raised-button>Of</button>
          <button mat-raised-button color="primary">The</button>
          <button mat-raised-button color="accent">Buttons</button>
        </mat-card>
      </td>
    </tr>
    <tr>
      <td>
        <mat-card>
          <button mat-button>All</button>
          <button mat-raised-button>Of</button>
          <button mat-raised-button color="primary">The</button>
          <button mat-raised-button color="accent">Buttons</button>
        </mat-card>
      </td>
    </tr>
  </table>  

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>