<mat-card>
    <mat-card-title>
      Productos
    </mat-card-title>
    <mat-card-content>
      <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.price}}€ </mat-cell>
        </ng-container>
        <ng-container matColumnDef="stock">
          <mat-header-cell *matHeaderCellDef mat-sort-header> STOCK </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.stock}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell *matCellDef="let product">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="add(product)">
              <mat-icon color="accent">add</mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="delete(product)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let product; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>